<div>
  <div>
    <h1>
      List of all reviews
    </h1>
  </div>
</div>

<hr>

<div>
  <ul class="a">
    <li>Find a <a href="https://www.listchallenges.com/ultimate-list-of-restaurants">restaurant</a></li>

    <li>Vegan? Not a problem, this <a href="https://www.happycow.net/">website got you covered</a></li>

    <li>Save a restaurant <a href="/restaurants">here</a></li>

    <li>Found a food you want to try out? Save it <a href="/foods">here</a></li>
  </ul>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
      <div>
        <label for="food_id_box">
          Food
        </label>

        <select name="query_food_id" id="food_id_box">
          <% Food.all.order(:name).each do |food| %>
            <option value="<%= food.id %>">
              <%= food.name %>
            </option>
          <% end %>
          <%#input type="text" id="food_text" name="specify"%>
        </select>

        Don't see the food you want to review? <a href="/foods">Click here to add a new food.</a>
      </div>

      <div>
        <label for="body_box">
          Review/Thoughts
        </label>
      </div>
      <div>
        <textarea class="w-100" rows="3" type="text" id="body_box" name="query_body"></textarea>
      </div>

      <div>
        <label for="restaurant_id_box">
          Restaurant
        </label>

        <select id="restaurant_id_box" class="form-select" aria-label="Select restaurant" name="query_restaurant_id">
          <option selected>Open this select menu</option>
          <% @list_of_restaurants.each do |restaurant| %>
            <option value="<%= restaurant.id %>"><%= restaurant.name %></option>
          <% end %>
        </select>
        <p>Want to add/save a new restaurant? <a href="/restaurants">Click here to add a new restaurant.</a></p>
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>
</div>

<div class="picture4">
  <%= image_tag("food_pic_review-4.jpeg", class: "picture4") %>
</div>

<hr>
<div>
  <div>
    <table class="table table-bordered">
      <tr>

        <th>
          User
        </th>

        <th>
          Food
        </th>

        <th>
          Review
        </th>

        <th>
          Restaurant
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_reviews.each do |a_review| %>
        <tr>

          <td>
            <%= a_review.user.name %> <%# User must exist? %>
          </td>

          <td>
            <%= a_review.food.name %> <%# Food must exist? %>
          </td>

          <td>
            <%= a_review.body %>
          </td>

          <td>
            <%= a_review.restaurant.name %>
          </td>

          <td>
            <%= time_ago_in_words(a_review.created_at) %> ago
          </td>

          <td>
            <%= time_ago_in_words(a_review.updated_at) %> ago
          </td>

          <td>
            <a href="/reviews/<%= a_review.id %>">
              Show details
            </a>
          </td>

          <td>
            <a href="/delete_review/<%= a_review.id %>">
              Delete
            </a>
          </td>

        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
